@media ( min-width: 1112px )
    .header
        padding: 0 120px
    .header__ul
        gap: 48px
    .main__title
        font-size: 64px
        width: 400px
    .main
        height: 673px
        padding: 54px 120px 250px 120px
    .main__descr
        font-size: 24px
        width: 486px
    .projects__title
        font-size: 48px
    .projects-card
        flex-direction: row
    .projects-card__text-block
        padding: 146px 38px 146px 50px
        border-radius: 25px 0px 0px 25px
    .projects-card__img-block
        img
            border-radius: 0px 25px 25px 0px
    .projects-card__btn
        margin-top: 24px
        padding: 8px 24px
        width: 150px
        height: 43px
    .header__link
        font-size: 18px
    .header__title
        font-size: 32px
    .gor__img
        top: 15px
        right: 30px
        width: 660px
        height: 576px
    .gorzoom
       transform: scale(1.070)
    .icon__link
        path
            width: 60px
            height: 60px
        svg
            width: 60px
            height: 60px
    .icons__wrapper
        margin-top: 145px
    .footer
        padding-bottom: 80px
    .another__text-block
        border-radius: 0px 25px 25px 0px
    .another__img-block
        img
            border-radius: 25px 0px 0px 25px
            user-select: none
    .scroll
        bottom: 50px
        right: 30px
        width: 50px
        height: 50px
    .arrow
        bottom: 7px
        right: 13px
        width: 22px
        height: 22px
    .main__smallTitle
        font-size: 20px
    .langs
        right: 113px
    .lang
        width: 55px
        a
            font-size: 16px
    .menu
        visibility: hidden
        opacity: 0
    .menu-btn
        visibility: hidden
        opacity: 0
    
@media ( max-width: 1111px )
    .header
        padding: 0 120px
    .header__ul
        gap: 48px
    .header__link
        font-size: 18px
    .header__title
        font-size: 32px
    .main
        height: 673px
        padding: 54px 120px 250px 120px
    .main__smallTitle
        font-size: 20px
    .main__title
        font-size: 50px
        width: 400px
    .main__descr
        font-size: 20px
        width: 480px
    .projects-card
        flex-direction: row
    .projects__title
        font-size: 48px
    .projects-card__text-block
        padding: 146px 38px 146px 50px
        border-radius: 25px 0px 0px 25px
    .projects-card__img-block
        img
            border-radius: 0px 25px 25px 0px
    .projects-card__btn
        margin-top: 24px
        padding: 8px 24px
        width: 150px
        height: 43px
    .yellow-bg
        svg
            width: 550px
            height: 500px
    .gor__img
        width: 500px
        top: 15px
        right: 30px
    .gorzoom
        transform: scale(1.070)
    .icon__link
        path
            width: 60px
            height: 60px
        svg
            width: 60px
            height: 60px
    .icons__wrapper
        margin-top: 145px
    .footer
        padding-bottom: 80px
    .another__text-block
        border-radius: 0px 25px 25px 0px
    .another__img-block
        img
            border-radius: 25px 0px 0px 25px
            user-select: none
    .scroll
        bottom: 50px
        right: 30px
        width: 50px
        height: 50px
    .arrow
        bottom: 7px
        right: 13px
        width: 22px
        height: 22px
    .langs
        right: 113px
    .lang
        width: 55px
        a
            font-size: 16px
    .menu
        visibility: hidden
        opacity: 0
    .menu-btn
        visibility: hidden
        opacity: 0
@media ( max-width: 992px )
    .main__title
        font-size: 46px
        width: 400px
    .main__descr
        font-size: 18px
        width: 430px
    .yellow-bg
        svg
            width: 500px
            height: 500px
    .gor__img
        width: 490px
        top: 10px
        right: 25px
    .gorzoom
        transform: scale(1.070)

@media ( max-width: 888px )
    .main__title
        font-size: 40px
        width: 300px
    .main__descr
        font-size: 17px
        width: 370px
    .yellow-bg
        svg
            width: 470px
            height: 500px
    .gor__img
        width: 470px
        top: 10px
        right: 25px
    .scroll
        bottom: 20px
        right: 10px
        width: 50px
        height: 50px
    .arrow
        bottom: 7px
        right: 13px
        width: 22px
        height: 22px

@media ( max-width: 835px )
    .header
        padding: 0 80px
    .header__link
        font-size: 18px
    .header__title
        font-size: 26px
    .main__smallTitle
        font-size: 17px
    .main
        height: 533px
        padding: 54px 80px 50px 80px
    .main__title
        font-size: 35px
        width: 300px
    .main__descr
        font-size: 15px
        width: 320px
    .projects__title
        font-size: 37px
    .yellow-bg
        svg
            width: 400px
            height: 460px
    .gor__img
        width: 405px
    .another__text-block
        padding: 0 34px
    .langs
        right: 72px


@media ( max-width: 720px )
    

// Projects

@media ( min-width: 1201px )
    .projects-card__title
        font-size: 40px
    .projects-card__text-block
        width: 496px
        height: 526px
    .projects-card__img-block
        width: 496px
        height: 526px
    .projects-card__descr
        width: 406px
        font-size: 18px

@media ( max-width: 1200px )
    .projects-card__title
        font-size: 40px
    .projects-card__text-block
        width: 396px
        height: 426px
    .projects-card__img-block
        width: 396px
        height: 426px
    .projects-card__descr
        width: 326px
        font-size: 16px

@media ( max-width: 991px )
    .projects-card__title
        font-size: 30px
    .projects-card__text-block
        width: 336px
        height: 390px
    .projects-card__img-block
        width: 336px
        height: 390px
    .projects-card__descr
        width: 270px
        font-size: 16px

@media ( max-width: 767px )
    .projects-card__title
        font-size: 23px
    .projects-card__text-block
        width: 256px
        height: 290px
    .projects-card__img-block
        width: 256px
        height: 290px
    .projects-card__descr
        width: 200px
        font-size: 16px


// phone


@media ( max-width: 600px )
    .header
        padding: 0 20px
    .header__ul
        gap: 15px
    .header__link
        font-size: 13px
    .header__title
        font-size: 20px
    .main
        padding: 54px 20px 110px 20px
        height: 470px
    .main__smallTitle
        font-size: 15px
    .main__title
        font-size: 28px
        width: 220px
    .main__descr
        font-size: 17px
        width: 260px
    .yellow-bg
        svg
            width: 230px
            height: 200px
    .gor__img
        display: none
        opacity: 0
    .gorzoom
        transform: scale(1)
    .projects__title
        font-size: 35px
    .projects-card
        flex-direction: column
        align-items: center
    .projects-card__title
        display: flex
        justify-content: center
        font-size: 25px
    .projects-card__text-block
        width: 325px
        height: 340px
        padding: 0
        border-radius: 25px 25px 0 0
    .projects-card__btn
        display: block
        margin: 0 auto
        margin-top: 30px
        padding: 4px 8px
        width: 100px
        height: 36px
        font-size: 13px
    .projects-card__img-block
        width: 325px
        height: 340px
        img
            border-radius: 0 0 25px 25px
    .projects-card__descr
        margin: 0 auto
        width: 220px
        font-size: 14px
        text-align: center
    .icon__link
        path
            width: 40px
            height: 40px
        svg
            width: 40px
            height: 40px
    .icons__wrapper
        margin-top: 85px
    .footer
        padding-bottom: 40px
    .another__text-block
        border-radius: 0 0 25px 25px
    .another__img-block
        img
            border-radius: 25px 25px 0 0
    .langs
        right: 14px
    .lang
        width: 40px
        a
            font-size: 13px

@media ( max-width: 510px )
    .header__ul
        gap: 12px
    .yellow-bg
        svg
            width: 292px
            height: 270px
        // .gor__img
        //     display: block
        //     opacity: 1
        //     width: 265px
        //     height: 230px
        .gorzoom
            transform: scale(1.070)
    .ul-unshow
        visibility: hidden
        opacity: 0
    .menu
        visibility: visible
        opacity: 1
    .menu-btn
        visibility: visible
        opacity: 1
@media ( max-width: 370px )
    .yellow-bg
        svg
            width: 170px
            height: 150px
    .projects-card__text-block
        width: 275px
        height: 290px
        border-radius: 25px 25px 0 0
    .projects-card__img-block
        width: 275px
        height: 290px
        img
            border-radius: 0 0 25px 25px
    .another__text-block
        border-radius: 0 0 25px 25px
    .another__img-block
        img
            border-radius: 25px 25px 0 0
    .gor__img
        display: none
        opacity: 0
    .gorzoom
        transform: scale(1)
    .ul-unshow
        visibility: hidden
        opacity: 0
    .menu
        visibility: visible
        opacity: 1
    .menu-btn
        visibility: visible
        opacity: 1