header {
  height: 800px;
  background: url("../img/bg/bg_main.png") no-repeat center center/cover;
}
header .nav {
  position: fixed;
  width: 100%;
  min-height: 65px;
  background-color: rgba(255, 255, 255, 0.1725490196);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .nav .left_corner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
}
header .nav .left_corner_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding-left: 0;
}
header .nav .left_corner_menu_item {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  letter-spacing: 1.67px;
  margin-left: 31px;
}
header .nav .left_corner_menu_item a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}
header .nav .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .nav .right_corner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
  padding-bottom: 8px;
}
header .nav .right_corner_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding-right: 0;
}
header .nav .right_corner_menu_item {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  margin-right: 31px;
  letter-spacing: 1.67px;
}
header .nav .right_corner_menu_item a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}
header .nav .right_corner_menu_item_btn {
  height: 23px;
  background: #000000;
  border: 1px solid #000000;
  border-radius: 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 1.67px;
  color: #FFFFFF;
  padding: 5px 18px 6px 18px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
header .nav .right_corner_menu_item_btn:hover {
  background-image: none;
  background-color: transparent;
  color: #000000;
}
header .nav .left_corner nav, header .nav .right_corner nav {
  height: 15px;
}
header .main {
  padding: 215px 0 274px 0;
}
header .main .title {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 57px;
  line-height: 67px;
  letter-spacing: 0.81px;
  color: #FFFFFF;
}
header .main .subtitle {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  width: 496px;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.44px;
  color: #FFFFFF;
  margin: 0 auto;
  margin-top: 33px;
  margin-bottom: 60px;
}

.supplement {
  min-height: 532px;
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.supplement .block2 {
  background: url("../img/girls/girl_second.png") no-repeat;
}
.supplement_block:last-child {
  margin-right: 0;
}
.supplement_block {
  background: url("../img/girls/girl_first.png") no-repeat;
  width: 710px;
  height: 500px;
  margin-right: 20px;
}
.supplement_block_title {
  margin: 0 auto;
  margin-top: 310px;
  font-family: "Roboto";
  font-style: normal;
  font-size: 34px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}
.supplement_block_descr {
  width: 213px;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
  margin-top: 13px;
}
.supplement_block .descr2 {
  width: 220px;
}
.supplement_block_menu {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.supplement_block_menu_link {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 20px;
  letter-spacing: 2px;
  color: #FFFFFF;
  margin-right: 125px;
}
.supplement_block_menu_link:last-child {
  margin-right: 0;
}

.quest {
  height: 729px;
  background: #0B0B0B;
  padding: 66.6px 0 88.6px 0;
}
.quest_title {
  font-family: "Roboto";
  font-style: normal;
  font-size: 38px;
  line-height: 43px;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.quest_descr {
  margin: 0 auto;
  margin-top: 39px;
  width: 532px;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}
.quest_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 32px;
  width: 444px;
  height: 366px;
}

.innovation {
  height: 729px;
  margin-top: 16px;
  padding: 288.8px 0 288px 0;
  background: url("../img/bg/bg_innovation.webp") center center/cover no-repeat;
}
.innovation_title {
  margin: 0 auto;
  width: 556px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 43px;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 28px;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.first {
  height: 36px;
  border-radius: 0px;
  cursor: pointer;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  background-color: transparent;
  width: 215px;
  font-size: 1.5em;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 14px;
  text-align: center;
  letter-spacing: 2px;
  margin-right: 20px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.first:hover {
  background-image: none;
  border: 1px solid #000000;
  color: #000000;
}

.second {
  height: 36px;
  border-radius: 0px;
  cursor: pointer;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  background-color: transparent;
  width: 215px;
  font-size: 1.5em;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 14px;
  text-align: center;
  letter-spacing: 2px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.second:hover {
  background-image: none;
  border: 1px solid #000000;
  color: #000000;
}

.founder {
  margin-top: 16px;
  height: 430px;
  padding: 136px 0 136px 0;
  background: url("../img/bg/bg_founder.png") center center/cover no-repeat;
}
.founder_block {
  width: 417px;
  height: 158px;
  margin-left: auto;
}
.founder_block_title {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-size: 35px;
  line-height: 43px;
  letter-spacing: 0.5px;
  color: #1B1B1B;
}
.founder_block_subtitle {
  display: block;
  margin-top: 33px;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 16px;
  line-height: 25px;
  color: #666666;
}
.founder_block_link {
  display: block;
  margin-top: 12.5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #1B1B1B;
}

@media (max-width: 1601px) {
  header .nav {
    background-color: rgba(255, 255, 255, 0.7803921569);
  }
}/*# sourceMappingURL=style.expanded.css.map */