
@media ( max-width: 2500px)
    .form
        &__wrapper
            width: 400px
        &__input-box
            width: 300px
            &__input
                width: 100%
                padding: 0 104px 0 12px
                &::placeholder
                    font-size: 20px
            .fa-exclamation
                left: 280px
                font-size: 25px
                top: 11.5px
            label
                left: 202px
                font-size: 20px
                top: 10px
                letter-spacing: 2px


@media  ( max-width: 500px )
    .form
        &__wrapper
            width: 400px
        &__input-box
            width: 230px
            &__input
                width: 100%
                padding: 0 88px 0 12px

                &::placeholder
                    font-size: 17px
            .fa-exclamation
                font-size: 20px
                left: 210px
                top: 14.5px
            label
                left: 148px
                font-size: 18px
                top: 12px
                letter-spacing: 0



